<h2 class="noprint">Add problem</h2>
<form id="addProblem" method="POST" action="/add/submit" class="noprint">
Source: <input type="text" name="source" id="source"><br>
Time limit (seconds): <input type="number" name="timeLimit" id="timeLimit"><br>
Problem:<br>
<textarea name="problem" id="problem"></textarea><br>
Answer (integer): <input type="number" name="answer" id="answer"><br>
<input type="submit">
</form>
<h2>Current problem list</h2>
<ul>
{{#each problems}}
<li><b>{{this.source}}</b> ({{this.timeLimit}} seconds, answer: {{this.answer}}): {{{this.problem}}}</li>
{{/each}}
</ul>

<style>
  textarea {
    width: 500px;
    height: 200px;
  }
  @media print {
    .noprint {display: none;}
  }
  input[type="text"], input[type="number"] {
    width: 300px;
  }
  input[type="submit"] {
    width: auto;
  }
  button:hover, input[type="submit"]:hover {
    background-color: slategray;
    color: white;
  }
</style>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>
<link rel="stylesheet" type="text/css" href="https://mathemolympiad-css.glitch.me/style.css">
<footer>Made by Kaiser Chan. (ChatGPT helped fix errors)</footer>